# Just to load the expected version from '.python-version' file if it exists
if [ -f ".python-version" ]; then
    pyversion=$(head .python-version)
else
    pyversion=3.7.4
fi
pvenv=packer-templates
#
use python ${pyversion}
layout virtualenv ${pyversion} ${pvenv}
layout activate ${pvenv}-${pyversion}

